

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" *ngIf="!shouldRun">

    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Responsive App</h1>
      <span>   </span>
      <button mat-button><h1>Click me!</h1></button>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list>
          <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
        </mat-nav-list>
      </mat-sidenav>
  
      <mat-sidenav-content>
        <p *ngFor="let content of fillerContent"></p>
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                        <div class="card-deck">
                                <div class="card" *ngFor="let card of cards">
                          <mat-card class="example-card" >
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{card.title}}</mat-card-title>
                              <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="{{card.src}}" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                {{card.content}}
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                            <mat-card-footer>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated {{card.time}} mins ago</small>
                                  </div>
                            </mat-card-footer>
                          </mat-card>
                        </div>
                          </div>
                  </div>
                  <div class="carousel-item">
                        <div class="card-deck">
                                <div class="card" *ngFor="let card of cards">
                          <mat-card class="example-card" >
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{card.title}}</mat-card-title>
                              <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="{{card.src}}" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                {{card.content}}
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                            <mat-card-footer>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated {{card.time}} mins ago</small>
                                  </div>
                            </mat-card-footer>
                          </mat-card>
                        </div>
                          </div>
                  </div>
                  <div class="carousel-item">
                        <div class="card-deck">
                                <div class="card" *ngFor="let card of cards">
                          <mat-card class="example-card" >
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>{{card.title}}</mat-card-title>
                              <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="{{card.src}}" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                {{card.content}}
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                            <mat-card-footer>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated {{card.time}} mins ago</small>
                                  </div>
                            </mat-card-footer>
                          </mat-card>
                        </div>
                          </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
          
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  
  
  
  
  
  